[Unit]
Description=Nginx Hello Server via Nix
After=network.target

[Service]
Type=simple
User=nginx
Group=nginx
# Allows the unprivileged nginx user to bind to privileged ports (< 1024) like 80 and 443
AmbientCapabilities=CAP_NET_BIND_SERVICE
# @nginxPkg@ will be dynamically replaced by the absolute path to your Nginx package in the Nix store
ExecStart=@nginxPkg@/bin/nginx -g "daemon off;" -c /etc/nginx/nginx.conf
Restart=always

[Install]
WantedBy=multi-user.target
